@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(135, 102, 0);
  transition: 0.4s;
  padding: 3px;
  background: linear-gradient(to right, #0000ff, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(225, 2%, 50%, 0.2);
  }
}